page-home {
  p{ margin: 20px 0 10px 0; }
  .banner{
    height: 300px;
    background: url('../assets/imgs/home-bg.jpg') no-repeat;
    background-size: cover;
    position: relative;
    .banner-overlay{
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.2);
    }
    .caption {
      position: absolute;
      width: 90%;
      bottom: 20px;
      left: 5%;
      z-index: 2;
      p{
        margin: 0;
      }
    }
  }
  .about, .services{padding: 45px 15px;}
  .about{ background: map-get($colors, primary ); color: #fff;}
  .services{ background: #f5f5f5; }
  .box{ 
    background: #fff;
    box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
   }
  .toolbar-background{
    border: none;
    background: rgba(255, 255, 255, .66);
  }
  .fixed-content, .scroll-content{
    margin-top: 0 !important;
  }
  .header::after{
    content: none;
  }
  .item-title{
    border-bottom: 2px solid #ff5d15;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Montserrat-SemiBold';
  }
  .list-item{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .note{
    font-family: 'Muli-Bold';
  }
  .note:before, .asterisk-after:after{
    content: '*';
    color: #3b8392;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
  }
  .item{
    margin-bottom: 30px;
  }
  .clients{
    padding-top: 95px;
  }
  .client {
    width: 50%;
    padding: 0 15px;
    float: left;
    text-align: center;
    margin-bottom: 50px;
  }
  
}