page-about-us {
    ion-content.content{
        background: #e6e6e6;
    }
    .toolbar-background{
        border: none;
        background: rgba(255, 255, 255, .66);
        }
    .fixed-content, .scroll-content{
        margin-top: 0 !important;
    }
    .header::after{
        content: none;
    }
    .about{
        margin-top: 80px;
        width: 96%;
        margin-left: auto;
        margin-right: auto;
        background: #fff;
        border-radius: 2px;
        padding: 20px;
        margin-bottom: 20px;
    }
    .heading-title{
        font-size: 22px;
        text-align: left;
    }
}
